@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,500');

*{
    font-family: 'Yantramanav', sans-serif;
    user-select: none;
}
html {
    height: 100%;
}
body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
}