.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #FEFEFE;
    font-size: 0pt;
    .list-container {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: min-content min-content 1fr;
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
        justify-items: center;
        align-items: start;
        width: 100%;
        height: 100%;
        .tablehead {
            display: grid;
            grid-template-columns: 250px 1fr;
            grid-template-rows: 1;
            width: 100%;
            background-color: #0D47A1;
            p {
                text-align: center;
                font-size: 10pt;
                color: #FEFEFE;
                text-transform: uppercase;
            }
        }
        .header {
            display: grid;
            grid-template-columns: 1;
            grid-template-rows: 1;
            justify-content: center;
            width: 100%;
            padding: 20px;
            background-color: #1565C0;
            box-sizing: border-box;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.125);
            input {
                width: 250px;
                padding: 10px;
                font-size: 10pt;
                border: none;
                outline: none;
                border-radius: 4px;
                box-sizing: border-box;
                background-color: rgba(255, 255, 255, 0.125);
                color: #FEFEFE;
                transition: width 0.2s ease-in-out;
            }
            input:focus {
                width: 500px;
            }
            input::placeholder {
                color: rgba(255, 255, 255, 0.75);
                text-transform: uppercase;
            }
        }
        .list {
            width: 100%;
            .film {
                display: grid;
                grid-template-columns: 250px 1fr;
                grid-template-rows: 1;
                width: 100%;
                box-sizing: border-box;
                cursor: pointer;
                opacity: 0.75;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                p {
                    margin: 0;
                    font-size: 10pt;
                    padding: 10px 5px 10px 5px;
                    text-align: center;
                }
                p:first-of-type {
                    text-align: center;
                }
            }
            .film:hover {
                opacity: 1;
                box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.075);
                border-top: 1px solid rgba(0, 0, 0, 0.075);
                border-bottom: 1px solid rgba(0, 0, 0, 0.075);
            }
        }
    }
}